<style>
  h1,h2,h3,h4 {font-family:"Lato", sans-serif}
  .fa {padding: 0 5px;}
  .fa:hover {opacity: .6;}
</style>

<%= render partial: "/layouts/navbar"%>
<!-- Content -->
<div class="theme-container" style="margin-top: 50px">

  <div class="page-header">
    <h1><b><%= t('index.every desire') %></b></h1>
    <p><%= t('index.self workshop') %></p>
  </div>

  <%= link_to "link text...", stock_path %>
  <!-- Slideshow -->
  <%= render partial: "/services/index/slideshow" %>

  <!-- Services -->
  <%= render partial: "/services/index/services" %>

  <!-- supportme -->
  <%# render partial: "/services/index/supportme" %>

  <!-- whoami -->
  <%= render partial: "/services/index/whoami" %>

  <!-- mywork -->
  <%# render partial: "/services/index/mywork" %>
  <!-- Contact -->
  <%# render partial: "/services/index/contactme" %>
</div>
  <!-- googlemap of me -->

<!-- Footer -->
<%= render partial: "/layouts/footer" %>

<script>
  // Slideshow
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {showDivs(slideIndex += n);}
  function currentDiv(n) {showDivs(slideIndex = n);}

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("slides");
    var dots = document.getElementsByClassName("indicator");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
       dots[i].className = dots[i].className.replace(" color-set0", "");
    }
    x[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " color-set0";
  }


// moveto_nav_or_info_model

  // Agency Theme JavaScript
  $(document).ready(function() {
    // jQuery for page scrolling feature - requires jQuery Easing plugin
    $('a.page-scroll').bind('click', function(event) {
      var $anchor = $(this);
      event.preventDefault();
      if ($anchor.attr('href') == '#contactme') {
        $('#contactme').removeClass('hidden')
      }
      $('html, body').stop().animate({
        scrollTop: ($('' + $anchor.attr('href')).offset().top - 50)
      }, 500, 'easeInOutExpo');
    });

    $('.trigger-hidden').bind('click', function(event) {
      $(this).closest('section').addClass('hidden');
    });

    // Highlight the top nav as scrolling occurs
    $('body').scrollspy({
      target: '.navbar-fixed-top',
      offset: 51
    });

    // Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function(){ 
      $('.navbar-toggle:visible').click();
    });

    // Offset for Main Navigation
    $('#mainNav').affix({
      offset: {
        top: 100
      }
    })
  });

</script>