<div id="panel" class="btn btn-default">
  <div id="exit" class="functional-icon">
    <%= link_to image_tag('/tension/exit.png', :style => "height:100%"), :back%>
  </div>
  <div class="a-padding"></div>
  <div id="reset" class="functional-icon">
    <%= image_tag('/tension/restart.png', :style => "height:100%") %>
  </div>
</div>

<div class="col-lg-12">
  <div id="screen"></div>
  <div id="images" style="display:none;">
    <%= image_tag('/tension/find_milkhouse.jpg') %>
    <%= image_tag('/tension/find_milkhouse.jpg') %>
    <%= image_tag('/tension/find_milkhouse.jpg') %>
    <%= image_tag('/tension/milkhouse_logo.jpeg') %>
  </div>
</div>

<script>
  $(document).ready(function() {
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) !== true) {
      if (<%= current_user.panel_top.nil? %> !== true) {
        $("#panel").css({
          top: '<%= current_user.panel_top %>px',
          left: '<%= current_user.panel_left %>px'
        });
      };

      $("#panel").draggable({
        stop: function(event, ui) {
          $.ajax({
            url: '<%= user_path(current_user) %>',
            type: 'PUT',
            data: {
              panel_top: ui.position.top,
              panel_left: ui.position.left
            },success: function(data){
              console.log('panel position saved success')
            }
          })
        }
      });
    }    
  });

  window.addEventListener('load', function () {
    var screen = document.getElementById("screen");
    var src = document.getElementById("images").getElementsByTagName("img"),
    img = function img (el,x,y) {
      var d = document.createElement("div");
      d.className     = "frame";
      d.style.left    = 50 * x + "%";
      d.style.top     = 50 * y + "%";
      var img         = document.createElement("img");
      img.className   = "img";
      img.src         = src[Math.floor(Math.random()*src.length)].src;
      img.onmousedown = function () {
        div(this.parentNode);
        this.parentNode.removeChild(this);
      }
      d.appendChild(img);
      el.appendChild(d);
    },
    div = function div (el) {
      img(el,0,0);
      img(el,1,0);
      img(el,0,1);
      img(el,1,1);
    };
    div(screen);

    var resetIcon = document.getElementById("reset")
    resetIcon.addEventListener("click",function () {
      while (screen.hasChildNodes()){
        screen.removeChild(screen.lastChild);
      };
      div(screen);
    })
  }, false);
</script>