<style>
  h1,h2,h3,h4 {font-family:"Lato", sans-serif}
</style>

<%= render partial: "/layouts/navbar" %>
<!-- Content -->
<div class="theme-container" style="margin-top: 50px">

  <div class="page-header">
    <h1><b><%= t('index.every desire') %></b></h1>
    <p><%= t('index.self workshop') %></p>
  </div>

  <!-- Slideshow -->
  <%= render partial: "/services/index/slideshow" %>

  <!-- Services -->
  <%= render partial: "/services/index/services" %>

  <!-- supportme -->
  <%# render partial: "/services/index/supportme" %>

  <!-- whoami -->
  <%= render partial: "/services/index/whoami" %>

  <!-- mywork -->
  <%# render partial: "/services/index/mywork" %>

  <!-- Contact -->
  <%= render partial: "/services/index/contactme" %>
</div>
  <!-- googlemap of me -->

<!-- Footer -->

<footer class="w3-padding-32 w3-light-grey w3-center" style="position: absolute; left: 0; margin-top: 50px; width: 100vw;">
  <h4>Footer</h4>
  <a href="" class="w3-button w3-black w3-margin page-scroll"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green"><%= t('index.self workshop') %></a></p>
</footer>


<script>
  // Slideshow
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {showDivs(slideIndex += n);}
  function currentDiv(n) {showDivs(slideIndex = n);}

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("slides");
    var dots = document.getElementsByClassName("indicator");
    if (n > x.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = x.length} ;
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
       dots[i].className = dots[i].className.replace(" color-set0", "");
    }
    x[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " color-set0";
  }

  // Agency Theme JavaScript
  $(document).ready(function() {
    // jQuery for page scrolling feature - requires jQuery Easing plugin
    $('a.page-scroll').bind('click', function(event) {
      var $anchor = $(this);
      event.preventDefault();
      $('html, body').stop().animate({
        scrollTop: ($('#' + $anchor.attr('href')).offset().top - 50)
      }, 500, 'easeInOutExpo');
    });

    // Highlight the top nav as scrolling occurs
    $('body').scrollspy({
      target: '.navbar-fixed-top',
      offset: 51
    });

    // Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function(){ 
      $('.navbar-toggle:visible').click();
    });

    // Offset for Main Navigation
    $('#mainNav').affix({
      offset: {
        top: 100
      }
    })
  });

</script>