<div class="page-header text-center">
  <h1><%= t('.title') %></h1>
</div>

<div class="col-md-4 col-md-offset-4">
  <%= show_error_messages %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="field">
      <%= f.label :email %><br />
      <%= resource.email %>
    </div>

    <div class="field" style="margin-top: 1rem;">
      <%= f.label :nickname %> 
      <%= f.text_field :nickname, class: "form-control" %>
    </div>    
    
    <div class="field">
      <%= f.label :current_password %> 
      <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
      <%= f.password_field :current_password, class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div style="margin-top: 1rem;">
      <%= f.submit t('.update'), class: "btn btn-default btn-block" %>
    </div>
  <% end %>

  <%= link_to t('devise.shared.links.back'), :back %>
</div>