<style>
  h1,h2,h3,h4 {font-family:"Lato", sans-serif}
  .fa {padding: 0 5px;}
  .fa:hover {opacity: .6;}
</style>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<!-- render partial: "/layouts/navbar" -->
<!-- Content -->
<div class="theme-container" style="margin-top: 50px">

  <div class="page-header">
    <h1><b><%= t('index.every desire') %></b></h1>
    <p><%= t('index.self workshop') %></p>
  </div>

  <%= line_chart User.all.map { |u|
    { name: u.nickname, 
      data: u.stocks.all.map { |us| [us.datatime, us.value ]}, 
      dataset: {borderWidth: 0.1}
    }
  } %>
  <%= line_chart User.first.stocks.all.map { |us| [us.datatime, us.value ]}, 
    curve: false, 
    dataset: {borderWidth: 3}, 
    prefix: "$", 
    download: true,
    label: "price",
    legend: "bottom", 
    xtitle: "Time",
    ytitle: "Price"
  %>

</div>
  <!-- googlemap of me -->

<!-- Footer -->
<!-- render partial: "/layouts/footer" -->