<div class="col-lg-4">
  <ul class="w3-ul w3-border w3-center w3-hover-shadow">
    <li class="<%= label_color %> w3-xlarge w3-padding-32"><%= level %></li>
    <li class="w3-padding-16"><b><%= unit * 5 %>GB</b> Storage</li>
    <li class="w3-padding-16"><b><%= unit * 5 %></b> Emails</li>
    <li class="w3-padding-16"><b><%= unit * 5 %></b> Domains</li>
    <li class="w3-padding-16"><b><%= warranty %></b> Support</li>
    <li class="w3-padding-16">
      <h2 class="w3-wide">$ <%= unit * 5 %></h2>
      <span class="w3-opacity">per month</span>
    </li>
    <li class="w3-light-grey w3-padding-24">
      <button class="w3-button w3-green w3-padding-large">Sign Up</button>
    </li>
  </ul>
</div>