<section id="services">
  <div class="clearfix">
    <div class="text-center section-padding">
      <span class="section-title"><%= t('index.What\'s in Here') %></span>
    </div>
    <div class="services-box color-set1"> 
      <h3><%= t('index.services.tools.title') %></h3>
      <p><%= t('index.services.tools.intro') %></p>
    </div>
    <div class="services-box color-set2">
      <h3><%= t('index.services.comingsoon') %></h3>
      <p><%= t('index.services.comingsoon') %></p>
    </div>
    <div class="services-box color-set3">
      <h3><%= t('index.services.comingsoon') %></h3>
      <p><%= t('index.services.comingsoon') %></p>
    </div>
    <div class="services-box color-set4">
      <h3><%= t('index.services.comingsoon') %></h3>
      <p><%= t('index.services.comingsoon') %></p>
    </div>
  </div>
</section>
