<style>

/* fix css */

  li > a{color: #000;}
  a a:hover a:focus{text-decoration: none;}
</style>
<div id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> 
        <i class="fa fa-bars"></i>
      </button>
      <h3 class="logo">
        <a href="#">Platform J</a>
      </h3>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <!-- simple way avoiding jq effect -->
          <%= link_to t('nav.tension?'), '/tension', method: 'get' %>
        </li>
        <!-- xx supportme -->
        <li>
          <a class="page-scroll" href="#slideshow"><%= t('nav.slideshow') %></a>
        </li>
        <li>
          <a class="page-scroll" href="#services"><%= t('nav.services') %></a>
        </li>
        <li>
          <a class="page-scroll" href="#whoami"><%= t('nav.who am i') %></a>
        </li>
        <li>
          <a href="#" class="page-scroll nickname" data-toggle="modal" data-target="#personal_info_modal">
            <%= user_name(current_user) %>
          </a>
        </li>

        <% unless current_user.is_guest? %>
          <li>
            <%= link_to '登出', destroy_user_session_path, method: 'DELETE'  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<%= render partial: "/layouts/navbar/personal_info_modal" %>
