<div id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> 
        <i class="fa fa-bars"></i>
      </button>
      <h3 style="margin-top: 12px;margin-bottom: 12px;">
        鮮乳坊線上小工具
      </h3>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#services">工具們</a>
        </li>
        <li>
          <a class="page-scroll" href="#about">關於網站</a>
        </li>
        <li>
          <a class="page-scroll" href="#team">關於開發</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal" style="border: 0px;">
            <%= user_name(current_user) %>
          </a>
        </li>
        <li>
          <%= link_to '登出', destroy_user_session_path, method: 'DELETE'  %>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="z-index: 10;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">個人資料</h4>
      </div>
      <div class="modal-body">
        <h4><%= user_name(current_user) %></h4>
        <p> <%= "取個響亮的暱稱吧！" unless current_user.nickname.present? %> </p>
        <p> 信箱: <%= current_user.email %> </p>
        <p> 登入次數: <%= current_user.sign_in_count %> </p>
        <p> 登入時間: <%= current_user.current_sign_in_at %> </p>
        <p> 上次登入: <%= current_user.last_sign_in_at %> </p>
        <%= link_to '修改個人資料', edit_user_registration_path  %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">按鈕一號</button>
        <button type="button" class="btn btn-primary">按鈕二號</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // Agency Theme JavaScript

  (function($) {
    "use strict"; // Start of use strict

    // jQuery for page scrolling feature - requires jQuery Easing plugin
    $('a.page-scroll').bind('click', function(event) {
      var $anchor = $(this);
      $('html, body').stop().animate({
        scrollTop: ($($anchor.attr('href')).offset().top - 50)
      }, 500, 'easeInOutExpo');
      event.preventDefault();
    });

    // Highlight the top nav as scrolling occurs
    $('body').scrollspy({
      target: '.navbar-fixed-top',
      offset: 51
    });

    // Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function(){ 
      $('.navbar-toggle:visible').click();
    });

    // Offset for Main Navigation
    $('#mainNav').affix({
      offset: {
        top: 100
      }
    })

  })(jQuery); // End of use strict  
</script>
